<% @info.each do |listing| %>
  <div class="media border col-xs-4 col-xs-offset-1">
    <div class="media-left">
      <%= link_to listing["url"], target:"_blank", class: "padding" do %>
        <%= image_tag listing['MainImage']['url_170x135'], class:"border margin" %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading margin"><%= truncate(listing["title"], length:40)%></h4>
      <p class="margin">Price: $<%= listing["price"] %></p>
    </div>
  </div>
  <div class="col-xs-1">
  </div>
<% end %>
